<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>rolefilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>rolefilter</filter-name>
        <url-pattern>/Demo</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>controller.Demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <servlet-class>controller.Question_Detail_Validation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestionController</servlet-name>
        <servlet-class>controller.AddQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionListServlet</servlet-name>
        <servlet-class>controller.QuestionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAvatar</servlet-name>
        <servlet-class>controller.ChangeAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLessonServlet</servlet-name>
        <servlet-class>controller.AddLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuizServlet</servlet-name>
        <servlet-class>controller.AddQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewQuizValidationServlet</servlet-name>
        <servlet-class>controller.AddNewQuizValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <servlet-class>controller.LoginFacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPasswordServlet</servlet-name>
        <servlet-class>controller.requestPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>controller.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizHandling</servlet-name>
        <servlet-class>controller.QuizHandling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByCategory</servlet-name>
        <servlet-class>controller.SearchByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizListServlet</servlet-name>
        <servlet-class>controller.QuizListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Expert_SubjectListServlet</servlet-name>
        <servlet-class>controller.Expert_SubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationListServlet</servlet-name>
        <servlet-class>controller.RegistrationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <servlet-class>controller.SearchRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortRegistrationServlet</servlet-name>
        <servlet-class>controller.SortRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <servlet-class>controller.FilterRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <servlet-class>controller.RegistrationDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportQuestionServlet</servlet-name>
        <servlet-class>controller.ImportQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalerDashBoardServlet</servlet-name>
        <servlet-class>controller.SalerDashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLessonServlet</servlet-name>
        <servlet-class>controller.ListLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionServlet</servlet-name>
        <servlet-class>controller.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionValidationServlet</servlet-name>
        <servlet-class>controller.EditQuestionValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizValidationServlet</servlet-name>
        <servlet-class>controller.EditQuizValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditLessonServlet</servlet-name>
        <servlet-class>controller.EditLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz_Review</servlet-name>
        <servlet-class>controller.Quiz_Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageCustomer</servlet-name>
        <servlet-class>controller.HomepageCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonDetailServlet</servlet-name>
        <servlet-class>controller.LessonDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatbotServlet</servlet-name>
        <servlet-class>controller.ChatbotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuizServlet</servlet-name>
        <servlet-class>controller.EditQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddLessonTopicServlet</servlet-name>
        <servlet-class>controller.AdminAddLessonTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPracticeList</servlet-name>
        <servlet-class>controller.ViewPracticeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterSubjectServlet</servlet-name>
        <servlet-class>controller.CustomerRegisterSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <servlet-class>controller.DeleteQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <servlet-class>controller.DeleteQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegistrationList</servlet-name>
        <servlet-class>controller.CustomerRegistrationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerSearchRegistration</servlet-name>
        <servlet-class>controller.CustomerSearchRegistration</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>SalerImportRegistration</servlet-name>
        <servlet-class>controller.SalerImportRegistration</servlet-class>
</servlet>
<servlet>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <servlet-class>controller.DeleteLessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPractice</servlet-name>
        <servlet-class>controller.NewPractice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question_Detail_Validation_Controller</servlet-name>
        <url-pattern>/question_detail_validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestionController</servlet-name>
        <url-pattern>/addquestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionListServlet</servlet-name>
        <url-pattern>/questionlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAvatar</servlet-name>
        <url-pattern>/changavt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLessonServlet</servlet-name>
        <url-pattern>/addlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuizServlet</servlet-name>
        <url-pattern>/addquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewQuizValidationServlet</servlet-name>
        <url-pattern>/addnewquizvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFacebookServlet</servlet-name>
        <url-pattern>/facebooklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPasswordServlet</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizHandling</servlet-name>
        <url-pattern>/quiz_handling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByCategory</servlet-name>
        <url-pattern>/searchByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizListServlet</servlet-name>
        <url-pattern>/quizlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expert_SubjectListServlet</servlet-name>
        <url-pattern>/exsubjectlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationListServlet</servlet-name>
        <url-pattern>/salerregistrationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRegistrationServlet</servlet-name>
        <url-pattern>/searchregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortRegistrationServlet</servlet-name>
        <url-pattern>/sortregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRegistrationServlet</servlet-name>
        <url-pattern>/filterregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDetailServlet</servlet-name>
        <url-pattern>/registrationdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportQuestionServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerDashBoardServlet</servlet-name>
        <url-pattern>/salerdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admindashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLessonServlet</servlet-name>
        <url-pattern>/listlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionServlet</servlet-name>
        <url-pattern>/editquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionValidationServlet</servlet-name>
        <url-pattern>/editquestionvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizValidationServlet</servlet-name>
        <url-pattern>/editquizvalidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditLessonServlet</servlet-name>
        <url-pattern>/editlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz_Review</servlet-name>
        <url-pattern>/quiz_review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageCustomer</servlet-name>
        <url-pattern>/homepage_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonDetailServlet</servlet-name>
        <url-pattern>/lesson_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatbotServlet</servlet-name>
        <url-pattern>/chatbot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuizServlet</servlet-name>
        <url-pattern>/editquiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddLessonTopicServlet</servlet-name>
        <url-pattern>/adminaddlessontopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPracticeList</servlet-name>
        <url-pattern>/view_practice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterSubjectServlet</servlet-name>
        <url-pattern>/customerregistersubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuestionServlet</servlet-name>
        <url-pattern>/deletequestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuizServlet</servlet-name>
        <url-pattern>/deletequiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegistrationList</servlet-name>
        <url-pattern>/customerregistrationlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerSearchRegistration</servlet-name>
        <url-pattern>/customersearchregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalerImportRegistration</servlet-name>
        <url-pattern>/salerimportregistration</url-pattern>
</servlet-mapping>
<servlet-mapping>
        <servlet-name>DeleteLessonServlet</servlet-name>
        <url-pattern>/deletelesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPractice</servlet-name>
        <url-pattern>/new_practice</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>controller.HomepageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListServlet</servlet-name>
        <servlet-class>controller.BlogListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectListServlet</servlet-name>
        <servlet-class>controller.SubjectListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailServlet</servlet-name>
        <servlet-class>controller.BlogDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <servlet-class>controller.SubjectDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmail</servlet-name>
        <servlet-class>controller.UpdateEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListServlet</servlet-name>
        <url-pattern>/blog_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectListServlet</servlet-name>
        <url-pattern>/subject_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailServlet</servlet-name>
        <url-pattern>/blog_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailServlet</servlet-name>
        <url-pattern>/subject_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmail</servlet-name>
        <url-pattern>/update_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteRegistrationServlet</servlet-name>
        <servlet-class>controller.DeleteRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRegistrationServlet</servlet-name>
        <url-pattern>/salerdeleteregistration</url-pattern>
    </servlet-mapping>
    <listener>
    <listener-class>controller.VisitorCounterListener</listener-class>
</listener>
<servlet>
        <servlet-name>UpdateRegistrationServlet</servlet-name>
        <servlet-class>controller.UpdateRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRegistrationServlet</servlet-name>
        <url-pattern>/salerupdateregistration</url-pattern>
    </servlet-mapping>
    
</web-app>
